{% assign issues_repo = site.issues_repo %}
{% assign issue_id = include.issue_id %}

<style>
    .comment-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 4.8rem;
        margin-bottom: 4.8rem;
    }
    .comment-actions h2 {
        margin: 0 !important;
    }
    .post-comment-button {
        border-radius: 0.4rem;
        padding: 0.4em 0.8em;
        margin: 1em 0;
    }
    #comments-wrapper {
        display: flex;
    }
    .comments-list {
        list-style: none;
        width: 100%;
        padding: 0 !important;
        display: grid;
        grid-row-gap: 3rem !important;
    }
    .comment {
        margin-left: 4rem;
    }
    .comment-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        margin-bottom: 0.8rem;
    }
    .comment-meta {
        margin: 0 0.6rem 0 0;
    }
    .comment-avatar {
        position: absolute;
        width: 40px;
        left: -3rem;
        top: calc(-1 * 0.8rem / 4);
        border-radius: 50% !important;
    }
    .comment-username {
        font-weight: 500;
        text-decoration: underline;
    }
    .comment-edited {
        font-style: italic;
    }

    /*.comment-date-posted {
        --line-height: 1.83;
        --font-size: 1.6rem;
        font-size: var(--font-size);
        line-height: var(--line-height);
    }
    */

    .comment-author-badge {
        border-radius: 0.2rem;
        display: flex;
        align-items: center;
        padding: 0.4rem 0.8rem;
    }
    .comment-body {
        grid-template-columns: minmax(0, 1fr);
    }
    .comment-body pre {
        white-space: pre-wrap;
    }
    .tag {
        background-color: hsl(0, 0%, 90%);
        color: hsl(0, 0%, 10%);
        font-weight: 400;
    }
</style>

<section id="comments">
    <div class="comment-actions">
        <h2><span aria-hidden="true">💬</span> Comments <span id="comments-count"></span></h2>
        <!--class="button solid-button plus-button post-comment-button"-->
        <span><a href="https://github.com/{{ issues_repo }}/issues/{{ issue_id }}">Post a comment</a> on GitHub</span>
    </div>
    <div id="comments-wrapper">
      Loading...
    </div>
</section>

<!-- Comments script -->
<!-- 
<script src="https://unpkg.com/marked@0.3.6/marked.min.js"></script>
<script src="https://unpkg.com/dompurify@1.0.8/dist/purify.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.7.8/plugin/relativeTime.js"></script>
-->

<script>
    const commentsSection = document.getElementById('comments');
    const commentsWrapper = commentsSection.querySelector('#comments-wrapper');
    const commentsCount = commentsSection.querySelector('#comments-count');

    const commentsObserver = new IntersectionObserver(function (entries, self) {
    entries.forEach(entry => {
        if (entry.isIntersecting) {
            fetchComments(); // this is the important part
            self.unobserve(entry.target);
        }
    });
    }, { rootMargin: '200px 0px 0px 0px' });

    commentsObserver.observe(commentsSection);

    function fetchComments() {
        fetch(
        'https://api.github.com/repos/{{ issues_repo }}/issues/{{ issue_id }}/comments'
        )
        .then(blob => blob.json())
        .then(initRenderComments)
        .catch(e => {
        commentsWrapper.innerHTML = `<p>Unable to retrieve the comments for this post. Check back later.</p>`;
    });

    const commentScripts = {
        marked: {
            src: 'https://unpkg.com/marked@0.3.6/marked.min.js',
            loaded: false,
        },
        DOMPurify: {
            src: 'https://unpkg.com/dompurify@1.0.8/dist/purify.min.js',
            loaded: false,
        },
        dayjs: {
            src: 'https://unpkg.com/dayjs@1.8.21/dayjs.min.js',
            loaded: false,
        },
        dayJsRelativeTimePlugin: {
            src: 'https://unpkg.com/dayjs@1.7.8/plugin/relativeTime.js',
            loaded: false,
        },
    };

    /**
    * @returns {Boolean} true if all comment dependencies have loaded, and false otherwise
    */
    function allCommentScriptsLoaded() {
        return Object.keys(commentScripts).every(script => commentScripts[script].loaded);
    }

    /**
    * Called after the GitHub API request finishes.
    * @param {Array<Object>} comments - an array of objects representing GitHub comments
    */
    function initRenderComments(comments) {
        if (!comments.length) {
            commentsWrapper.innerHTML = `<p>No comments yet 👀 Be the first to post!</p>`;
            return;
        }

        // Load all comment script dependencies async
        Object.keys(commentScripts).forEach(script =>
            loadCommentScript(commentScripts[script], () => renderComments(comments))
        );
    }

    /**
    * @param {Object} script - the script to load async
    * @param {function} callback - a function to call once the script has loaded
    */
    function loadCommentScript(script, callback) {
        const scriptElement = document.createElement('script');
        scriptElement.src = script.src;
        document.body.appendChild(scriptElement);

        scriptElement.onload = () => {
            script.loaded = true;
            callback();
        };
    }

    /**
    * @param {Array<Object>} comments - an array of objects representing GitHub comments
    */
    function renderComments(comments) {
    if (!allCommentScriptsLoaded()) return;

        // load the relativeTime plugin for dayjs so we can express dates relative to now
        dayjs.extend(dayjs_plugin_relativeTime);

        commentsCount.innerText = `(${comments.length})`;

        const commentsList = document.createElement('ol');
        commentsList.className = 'comments-list';
        commentsList.setAttribute('aria-label', 'Comments on this blog post');

        commentsList.innerHTML = comments
        .sort((comment1, comment2) => {
        return comment1.created_at < comment2.created_at ? 1 : -1;
        })
        .map(comment => {
        const datePosted = dayjs(comment.created_at).fromNow();
        const user = comment.user;
        const body = DOMPurify.sanitize(marked(comment.body));
        const postedByAuthor = comment.author_association === 'OWNER';
        const edited = comment.created_at !== comment.updated_at;

        return `<li class="comment">
                    <div class="comment-header">
                        <img src="${user.avatar_url}" alt="" aria-hidden="true" class="comment-meta comment-avatar" />
                        <a
                            href="https://github.com/${user.login}"
                            class="comment-meta comment-username"
                            >${user.login}</a
                        >
                        <div class="comment-meta comment-date-posted">commented <time datetime="${comment.created_at}">${datePosted}</time></div>
                        ${postedByAuthor ? '<span class="comment-meta tag comment-author-badge">Author</span>' : ''}
                        ${edited ? `<span class="comment-meta comment-edited">Edited</span>` : ''}
                    </div>
                    <div class="comment-body">${body}</div>
                </li>`;
        })
        .join('');

        commentsWrapper.innerHTML = '';
        commentsWrapper.appendChild(commentsList);
    }
}

</script>